[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pdfplumber = "*"
sentinelhub = "*"
numpy = "*"
matplotlib = "*"
pyshp = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
