aenum==3.1.17
asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
dataclasses-json==0.6.7
Django==6.0.5
django-modeltranslation==0.20.3
fonttools==4.63.0
idna==3.13
kiwisolver==1.5.0
marshmallow==3.26.2
matplotlib==3.10.9
mypy_extensions==1.1.0
mysqlclient==2.2.8
numpy==2.4.4
oauthlib==3.3.1
packaging==26.2
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
pycparser==3.0
pyparsing==3.3.2
pypdfium2==5.8.0
pyproj==3.7.2
pyshp==3.0.3
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.33.1
requests-oauthlib==2.0.0
sentinelhub==3.11.5
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tifffile==2026.5.2
tomli==2.4.1
tomli_w==1.2.0
tqdm==4.67.3
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.7.0
utm==0.8.1
